<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3 mx-auto borders">

      <h2>Hi! <small>We will be always at your service.</small></h2>
      <hr class="colorgraph">
      <form ng-submit="ctrl.registeredUser()" name="myForm">
        <input type="hidden" ng-model="ctrl.user.id" />
        <!-- NAME -->
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" name="name" id="name" class="username form-control" ng-model="ctrl.user.name" placeholder="Enter your Name" ng-minlength="3"
            ng-maxlength="8" required>
          <div class="has-error" ng-show="myForm.name.$dirty">
            <span ng-show="myForm.name.$error.required" class="help-block">This is a required field</span>
            <span ng-show="myForm.name.$error.minlength" class="help-block">Minimum length required is 3</span>
            <span ng-show="myForm.name.$invalid" class="help-block">This field is invalid </span>
          </div>
        </div>

        <!-- USERNAME -->
        <div class="row col-sm-12">
          <div class="form-group col-sm-6 col-xs-12" >
            <label for="uname">Username</label>
            <input type="text" name="uname" id="uname" class="username form-control" ng-model="ctrl.user.username" placeholder="Enter your Username"
              ng-minlength="3" ng-maxlength="8" required>
            <div class="has-error" ng-show="myForm.uname.$dirty">
              <span ng-show="myForm.uname.$error.required" class="help-block">This is a required field</span>
              <span ng-show="myForm.uname.$error.minlength" class="help-block">Minimum length required is 3</span>
              <span ng-show="myForm.uname.$invalid" class="help-block">This field is invalid </span>
            </div>
          </div>
          <div class="form-group col-sm-6 col-xs-12" >
            <label for="phonenum">We can call you on?</label>
            <input type="tel" name="phonenum" id="phonenum" class="username form-control" ng-model="ctrl.user.phonenumber" placeholder="We can call you on ?"
              ng-minlength="10" ng-maxlength="10" required>
            <div class="has-error" ng-show="myForm.phonenum.$dirty">
              <span ng-show="myForm.phonenum.$error.required" class="help-block">This is a required field</span>
              <span ng-show="myForm.phonenum.$error.minlength" class="help-block">Sorry, Invalid Number </span>
              <span ng-show="myForm.phonenum.$invalid" class="help-block">This field is invalid </span>
            </div>
          </div>
        </div>
        <!-- ADDRESS -->
        <div class="form-group">
          <label for="address">Address</label>
          <!-- <div class="col-md-7"> -->
            <input type="text" ng-model="ctrl.user.address" id="address" class="form-control" placeholder="Enter your Address." />
          <!-- </div> -->
        </div>

        <!-- EMAIL -->
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" name="email" class="email form-control" ng-model="ctrl.user.email" placeholder="Enter your Email" required>
          <div class="has-error" ng-show="myForm.email.$dirty">
            <span ng-show="myForm.email.$error.required" class="help-block">This is a required field</span>
            <span ng-show="myForm.email.$invalid" class="help-block">This field is invalid </span>
          </div>
        </div>

        <!-- PASSWORD -->
        <div class="form-group">
          <label for="Password">Password</label>
          <input type="Password" name="Password" class="form-control" ng-model="ctrl.user.Password" placeholder="Enter your Password" required>
          <div class="has-error" ng-show="myForm.Password.$dirty">
            <span ng-show="myForm.Password.$error.required" class="help-block">This is a required field</span>
            <!-- <span ng-show="myForm.Password.$invalid">This field is invalid </span> -->
          </div>
        </div>

        <hr class="colorgraph">
        <!-- <div class="row">
          <div class="col-xs-12 col-md-6"><a class="btn btn-success btn-block btn-lg" tabindex="7" ng-click="vm.registeredUser(vm.registerUser)"
              ng-disabled="userForm.$invalid">Register</a></div>
        </div> -->
        
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <input type="submit"  ng-click="vm.registeredUser(ctrl.user)" class="btn btn-primary btn-md" ng-disabled="myForm.$invalid">
            <button type="button" ng-click="ctrl.reset();" class="btn btn-warning btn-md" ng-disabled="myForm.$pristine">Reset
              Form</button>
          </div>
      </form>
    </div>
  </div>